node_modules/**
Services/routers/**
web/**
node/**
pages/**
electron-renderer/**
electron-preload/**
public/**
mysql/**
dist/**
/Services/index.ts
/Services/config.ts
/Services/routers/**
.vs/**
.temp_cache/**
**/build/**