<!DOCTYPE html>
<html lang="en" manifest="app.appcache">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <% for(var key in htmlWebpackPlugin.options.CDNList) { %>
        <script defer="defer" src=<%= 'static/' + key + '/' + htmlWebpackPlugin.options.CDNList[key].split('/').pop() %>></script>
    <% }%>
    <% for(var key in htmlWebpackPlugin.options.isStaticCss) { %>
        <link rel="stylesheet" type="text/css" href=<%= 'static/' + key + '/' + htmlWebpackPlugin.options.isStaticCss[key].split('/').pop() %>>
    <% }%>
    <script type="text/javascript">try{global}catch (e){window.global = window;}
    </script>
</head>
<body>
    <div id="app" data-server-rendered="true"></div>
</body>
</html>